<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Naming contest</title>
</head>

<body>
    <h1>Naming Contest</h1>
    <!-- a JS string -->
    <%= "Hello !" -%>
        <!-- content with html -->
        <%- content -%>

</body>

</html>